.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* Используем flexbox для выравнивания */
    justify-content: flex-start;
    /* Выравнивание по левому краю */
}

.filters label {
    cursor: default;
    /* Указываем курсор по умолчанию */
    margin: 0 3px;
    /* Отступ между метками */
}

.filters input[type="radio"] {
    display: none;
    /* Скрываем радиокнопки */
}

.filters label {
    display: inline-block;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.filters input[type="radio"]:checked+label {
    border-color: rgba(175, 47, 47, 0.2);

}

.filters label:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters label.selected {
    border-color: rgba(175, 47, 47, 0.2);
}


@media (max-width: 430px) {
    .filters {
        bottom: 10px;
    }
}